.nav {
  height: 90px;
  border-bottom: 1px solid white;
  border-width: 2px;
  display: flex;
  align-items: center;
}
.nav-items {
  display: flex;
  margin-left: auto;
  text-align: left;
  margin-right: 100px;
}
.nav-item {
  margin-left: 100px;
}
.box {
  background-image: url(hoggwart.jpg);
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.a {
  position: absolute;
  text-align: center;
  left: 29%;
  top: 33%;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
  font-family: "Nanum Myeongjo", serif;
}

.b {
  position: absolute;
  text-align: center;
  margin-top: 140px;
  left: 29%;
  top: 31%;
  transform: translate(-50%, -50%);
  font-family: "Nanum Myeongjo", serif;
}
.box1 {
  height: 100%;
  position: absolute;
  background-color: rgb(100, 58, 41);
  width: 100%;
}
.aa{
  height: 50%;
  width: 50%;
  float: left;
}
.bb{
    height: 50%;
  width: 50%;
  float: right;
}


@media only screen and (max-width: 480px) {
  .a,
  .b {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px; /* 더 작은 화면에 맞게 폰트 크기 추가 조절 */
  }
}
nav {
  float: left;
  width: 50%;
  height: 360px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav h1 {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

article {
  float: right;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.container {
    display: flex;
    height: 500px;
    width: 100%;
  }

  /* 이미지 섹션 */
  .image-section {
    flex: 1; /* 레이아웃의 왼쪽 절반을 차지합니다 */
    background: url(tain.jpg) center center no-repeat;
    background-size: cover;
    min-width: 50%;
  }

  /* 텍스트 섹션 */
  .text-section {
    flex: 1; /* 레이아웃의 오른쪽 절반을 차지합니다 */
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }

  /* 제목 스타일 */
  .title {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
  }

  /* 내용 스타일 */
  .content {
    font-size: 18px;
    color: #555555;
  }